/*.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}*/

.head {
    position: fixed;
    width: 100vw;
    z-index: 1;
    top: 0px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
    transition: all 1s;
    
}

.logo {
    font-size: 2.5rem;
    font-weight: bold;
}

#nav.scrollon {
    color: white;
    background-color: rgb(95, 118, 247);
    transition: all 1s;
}

#nav.nav.scrollon li>a {
    color: white;
    transition: all 1s;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    font-size: 20px;
    position: relative;
    padding: 6px 12px;
}

.nav-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    background: rgb(0, 122, 153);
    transition: all 0.5s ease-out;
    opacity: 0;
}

.nav-menu a:hover::after {
    width: 100%;
    opacity: 1;
}