#main-wrap {
    width: 100%;
    margin: auto;
    position: relative;
}

#main-title {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
}

#main-description{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
}