h1 { font-size: 3.5rem; margin: 20px 0; font-weight: bold;}

.intro-scroll {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    opacity: 0;
}

.intro-scroll.scrollon {
    opacity: 1;
    transition: all 2s;
}

.intro-scroll.scrollon .fishing-intro {
    transform: translateX(0);
    transition: all 2s;
}

.intro-scroll .fishing-intro-image {
    width: 100vw;
    height: inherit; 
}

.fishing-intro {
    display: grid;
    
}

