
.intro-scroll {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    opacity: 0;
    justify-content: center;
}

.intro-scroll.scrollon {
    opacity: 1;
    transition: all 2s;
}

.intro-scroll.scrollon .fishing-intro {
    transform: translateX(0);
    transition: all 2s;
    margin-top: -20%;
}
.intro-des {
    margin-top: 20%;
    text-align: center;
    color: white;
}



.fishing-intro h1 {
    margin: 0;
    padding: 0;
    font-size: 7.5rem;
    text-transform: uppercase;
}

h1 span {
    display: inline-flex;
    color: #4071f7;
}

h1 span:nth-child(even) {
    overflow: hidden;
    transition: ease-in 0.5s;
    color: #fff;
    border-bottom: 8px solid #4071f7;
    letter-spacing: -1em;
}

h1:hover span:nth-child(even) {
    letter-spacing: 0;
}
h1:hover span:nth-child(2) {
    transition-delay: 0.4s;
}
h1:hover span:nth-child(4) {
    transition-delay: 0.8s;
}
h1:hover span:nth-child(6) {
    transition-delay: 1.2s;
}

