#point-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#point-slide-img {
    width: 30%;
    height: 50vh;
}

#slide-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#prev-btn, #next-btn {
    font-size: 24px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev-btn {
    left: 50px;
}
#next-btn {
    right: 50px;
}