.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* 태그 디자인 */
/* 부드러운 스크롤 */
html {
  scroll-behavior: smooth;
}

a { color: black; text-decoration: none;}

h1 { font-size: 3.5rem; margin: 20px 0; font-weight: bold;}

/* 헤더와 네비게이션바 */
.head {
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  padding: 0 20px;
  border-bottom: 1px solid black;
  transition: all 1s;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin: 35px 60px;
  font-size: 1.2rem;
  transition: all 1s;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
}

/* 스크롤 이벤트가 발생했을 때 바뀌는 네비게이션 디자인 */
.nav.scrollon {
  color: white;
  background-color: darkkhaki;
  transition: all 1s;
}

.nav.nav.scrollon li>a {
  color: white;
  transition: all 1s;
}


/*  메인의 섹션 */
section {
  height: 400px;
}

/* 섹션1 배너 */
.banner {
  height: 100vh;
}

.banner .scroll-icon {
  position: absolute;
  bottom: 50px; left: 50%;
  font-size: 2.5rem;
  animation-name: movingIcon;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

/* 아이콘이 위아래로 움직이는 애니메이션 작성 */
@keyframes movingIcon {
  0% {transform: translate(0,0);}
  70% {transform: translate(0,20px);}
  100% {transform: translate(0,0);}
}

/* 섹션2 소개 */
.intro-scroll {
  display: flex;
  align-items: center;

  background-size: cover;
  padding: 0 20px;
  opacity: 0;
}

/* 이벤트로 클래스가 붙었을 때 디자인 */
.intro-scroll.scrollon {
  opacity: 1;
  transition: all 2s;
}

.intro-scroll .green-intro {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(85, 84, 84);
  transform: translateX(-400px);
}

/* 이벤트 발생시 추가되는 클래스 */
.intro-scroll.scrollon .green-intro {
  transform: translateX(0);
  transition: all 2s;
}

.intro-scroll .green-intro-image {
  width: 100vw;
  height: inherit; /*부모의 높이를 가져옴*/
}

/* 섹션 3 슬라이더 버튼 */
.pictures {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.pictures .picture-wrap {
  padding: 20px 20px;
}

.pictures .picture-wrap .picture-explain {
  margin-bottom: 40px;
}



/* 푸터 */
.footer {
  box-sizing: border-box;
  height: 200px;
  background-color: black;
  color: white;
  padding: 40px 60px;
  display: flex;
}

.footer .footer-logo {
  font-size: 1.5rem;
  margin-right: 80px;
}

.footer .info {
  display: grid;
  font-size: 0.8rem;
}

.footer .info .top {
  position: fixed;
  bottom: 30px;
  color: green;
  border: solid 1px green;
  background-color: inherit;
  right: 50px;
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}

.top {
  opacity: 0;
}

.top.scrollon {
  opacity: 1;
  transition: 0.5s;
}
